body {
  margin: 0;
}

path.leaflet-interactive {
  stroke-width: 1;
  stroke: #FF851B;
}

.detail img.avatar {
  border-radius: 50%;
  border: 2px white;
  box-shadow: 0 3px 14px rgba(0, 0, 0, 0.2);
}

.icon {
  width: 16px;
  height: 16px;
}

.color {
  background: #ff851b;
  background: -moz-linear-gradient(-45deg, #ff851b 42%, #ef4547 100%);
  background: -webkit-linear-gradient(-45deg, #ff851b 42%, #ef4547 100%);
  background: linear-gradient(135deg, #ff851b 42%, #ef4547 100%);
}